.header{
    background-color:#a31621;
    width:100%;
    height:10vh;
}
.main{
    height:70vh;
}
.footer{
    background-color:#a31621;
    height:20vh;
}

@media screen and (max-width:768px){
    .header{
        background-color:#3d348b;
        width:100%;
        height:5vh;
    }
    .main{
        height:85vh;
    }
    .footer{
        background-color:#3d348b;
        height:10vh;
    }
}